.side-nav-bar{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    background-color: black;
    padding: 24px;
    text-align: left; 
  }
  .side-nav-bar>.spotify-logo>img{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .menu>ul>li{
    padding: 10px 0px;
    font-size: 13px;
    color: beige;
    list-style-type: none;
    cursor: pointer;
    
  }
  .menu>ul>li>a{
    color: beige;
    text-decoration: none;
  }

  .menu>ul>li>.likedsong{
    height: 35px;
    width: 35px;
    display: inline;
    border-radius: 5%;
    align-items: center;
    background: rgb(140,109,214);
  background: linear-gradient(152deg, rgb(117, 80, 203) 0%, rgba(217,230,235,1) 100%);
  }
  .main-container {
    margin-left: 250px;
    
  }
  .main-container>.playlist{
    padding: 30px;
    height: 280px;
    display:flex;
    background: rgb(92,147,133);
    background: linear-gradient(180deg, rgba(92,147,133,1) 0%, rgba(109,130,127,1) 83%, rgba(114,119,121,1) 100%);
  }
  .main-container>.playlist>.playlist-logo img{
    padding-top: 30px;
    width: 200px;
  }

  .main-container>.playlist>.playlist-discription{
    color: white;
    padding: 10px;
    margin-top: 80px;
  }
  
  .main-container>.playlist>.playlist-discription h6{
    font-size: 12px;
  }
  .main-container>.playlist>.playlist-discription p{
    font-size: 11px;
    padding: 0;
    font-weight: 600;
    color: rgb(205, 204, 204);
  }
  .main-container>.list{
    padding-left: 20px;
    padding-top: 20px;
    background: rgb(114,119,121);
    padding-bottom: 40px;
    background: linear-gradient(180deg, rgb(84, 94, 99) 0%, rgba(66,68,69,1) 4%, rgba(0,0,0,1) 100%);
  }
 
  .main-container>.list>table{
    width: 100%;
    color: white;
    font-size: 10px;
    border-collapse: collapse;
   
  }

  table>thead>tr>th{
    padding-bottom: 20px;
  }
 tbody>tr:hover{
  background-color: #7a7a7a;
}
::-webkit-scrollbar{
  display: none;
}
.main-container.list>.icons{
  padding: 20px;
  width: 100%;
  justify-content: space-between;
  padding-top: 20px;
  
}
.main-container>.list>.icons>.play{
  width:35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.horizontal-line{
  position: relative;
  top: 10px;
  width: 100%;
  border-top: 1px solid #585757;
}
table>tbody>img{
  width: 2px;
  height: 2px;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  background-color: aliceblue;
}
.playing{
  left: 0;
  bottom:  0px;
  padding-bottom: 20px;
  position: fixed;
  display: flex;
  width: 100%;
  height: 60px;
  background-color: rgb(0, 0, 0);
}
 .playing>.currently-playing {
   margin: 8px;
   width: 70px;
   height: 70px;
   overflow: hidden;
   border-radius: 2px;
 }
 .playing>.playing-logo{
   margin-left: 400px;
   width: 500px;
  }