.side-nav-bar{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  background-color: black;
  padding: 24px;
  text-align: left;
  
}
.side-nav-bar>.spotify-logo>img{
  margin-top: 10px;
}

.menu>ul>li{
  padding: 5px 0px;
  font-size: 12px;
  color: beige;
  list-style-type: none;
  cursor: pointer;
}
.playlist>ul>li>.likedsong{
  height: 35px;
  width: 35px;
  display: inline;
  border-radius: 5%;
  align-items: center;
  background: rgb(140,109,214);
background: linear-gradient(152deg, rgb(117, 80, 203) 0%, rgba(217,230,235,1) 100%);
}
.playlist>ul>li>.yourepisode{
  height: 35px;
  width: 35px;
  border-radius: 5%;
  display: inline;
  align-items: center;
  background: rgb(1, 53, 17);
}
.playlist>ul>li{
  padding: 5px 0px;
  font-size: 12px;
  color: beige;
  list-style-type: none;
  cursor: pointer;
}
.FAV>ul>li{
  padding: 3px 0px;
  font-size: 12px;
  color: beige;
  list-style-type: none;
  cursor: pointer;
}
.install{
  padding: 5px 0px;
  font-size: 12px;
  color: beige;
  cursor: pointer;
}

.main-container {
  margin-left: 200px;
  background: rgb(47,46,46);
background: linear-gradient(180deg, rgba(47,46,46,1) 0%, rgba(0,0,0,1) 95%, rgba(217,230,235,1) 100%);
}

.topbar {
  display: flex;
  justify-content: space-between;
  
  padding: 14px 55px;
}
.topbar .prev-next-buttons button {
  color: #7a7a7a;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 18px;
  border: 0px;
  background-color: #090909;
  margin-right: 10px;
}
.main-container>.topbar h6{
  color: #6e6c6c;
}
.spotify-playlists {
  width: 100%;
  padding: 20px 80px;
  padding-right: 100px;
}
.spotify-playlists h1 {
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 10px;
}
.spotify-playlists>.pickup{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.spotify-playlists>.pickup>.card-1{
  background-color: #303030;
  margin: 20px;
  width: 250px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  border-radius: 5px;
  border-top-left-radius: 5px;
  cursor: pointer;
}
.spotify-playlists>.pickup>.card-1>p{
  padding-left: 10px;
}
.spotify-playlists>.pickup>.card-1>.liked-songs{
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  justify-content: center;
  background: rgb(140,109,214);
background: linear-gradient(152deg, rgb(117, 80, 203) 0%, rgba(217,230,235,1) 100%);
}
.spotify-playlists h2 {
  color: #ffffff;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.spotify-playlists .list {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  white-space: nowrap;
  margin-bottom: 50px;
}

.spotify-playlists .my-card {
  width: 200px;
  height: 300px;
  margin: 10px;
  padding: 15px;
  background-color: #181818;
  cursor: pointer;
}
 .spotify-playlists .list img {
  width: 100%;
  height: 170px;
  border-radius: 6px;
  margin-bottom: 10px;
}

::-webkit-scrollbar{
  display: none;
}
.spotify-playlists .list h4 {
  color: #ffffff;
  font-size: 14px;
  margin: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.spotify-playlists .list p {
  color: #989898;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  overflow: hidden;
}


.playing{
  left: 0;
  bottom:  10px;
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: rgb(0, 0, 0);
}
.device{
  left: 0;
  bottom:  0px;
  position: fixed;
  display: flex;
  width: 100%;
  height: 10px;
  background-color: #1ED760;
}
.device>h6{
  font-size: 8px;
  justify-content: right;
  text-align: right;
  padding-right: 2px;
}

.playing>.currently-playing {
  margin: 8px;
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
  border-radius: 2px;
}
.playing>.playing-logo{
  margin-left: 400px;
  width: 500px;
 }